@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --white-clr: #fff;
    --black-clr: #000;
    --search-field-clr: #F0F0F0;

    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.125rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-48: 3rem;
    --fs-64: 4rem;

}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Top Bar Section */

.topbar {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-clr);
    background-color: var(--black-clr);
    padding-inline: 100px;
    padding-block: 9px;
}

.topbar p {
    font-size: var(--fs-14);
    font-weight: 300;
}

.topbar a {
    font-weight: 500;
    color: var(--white-clr);
    padding-left: 0.5rem;
}

/* Nav Bar Section */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
    margin-block: 24px;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.search-container {
    width: 456px;
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding: 12px 16px 12px 16px;
    gap: 12px;
}

.search-field {
    border: none;
    width: 100%;
    background-color: transparent;
    color: #909090;
    font-size: 1rem;
}

.search-field:focus {
    outline: none;
}

/* Hero Section */

.hero-section {
    display: flex;
    flex-direction: column;
    background-image: url(./heroSection.svg);
    background-size: cover;
    background-position: center;
    padding-left: 100px;
    padding-block: 72px;
    overflow: hidden;
    background-position: no-repeat;
    position: relative;
}

.big-star {
    position: absolute;
    z-index: 111;
    top: 35%;
    right: 56px;
}

.small-star {
    position: absolute;
    z-index: 112;
    top: 60%;
    right: 42%;
}

.hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.hero-content h1 {
    font-size: var(--fs-64);
    font-weight: 700;
}

.hero-content p {
    font-size: var(--fs-16);
    font-weight: 400;
    color: #616060;
}

.hero-content button {
    width: 210px;
    height: 52px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 62px;
    color: var(--white-clr);
    border: none;
    background-color: var(--black-clr);
}

.hero-content button:hover {
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(34, 33, 33);
    color: white;
}

.hero-quality {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 48px;
}

.hero-quality h2 {
    font-size: 40px;
    font-weight: 700;
}

.hero-quality p {
    font-size: var(--fs-16);
    font-weight: 400;
    color: #616060;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 14px;
}

/* Brand Section */

.brand-section {
    background-color: var(--black-clr);
    padding-inline: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 122px;
}

/* New Arrival Section */


.arrival-section h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 55px;
}

.arrival-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--fs-20);
    padding-inline: 100px;
}

.arrival-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.arrival-img {
    width: 295px;
    height: 298px;
    border-radius: var(--fs-20);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0EEED;
}

.arrival-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.arrival-title {
    font-size: var(--fs-20);
    font-weight: 700;
}

.arrival-rate {
    display: flex;
    align-items: center;
    gap: 13px;
}

.arrival-price {
    display: flex;
    align-items: center;
}

.star-rate {
    font-size: 14px;
}

.arrival-price-offer {
    font-size: 24px;
    font-weight: 700;
    padding-right: 12px;
}

.arrival-price-discount {
    font-size: 24px;
    font-weight: 700;
    padding-right: 12px;
    color: #999999;
    text-decoration: line-through;
}

.arrival-discount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 28px;
    background-color: #FFEBEB;
    color: #FF3333;
    border-radius: 62px;
    font-size: 12px;
}

.arrival-card:hover {
    transform: scale(1.125);
}

